:root {
    --ten-pixels: 0.625rem;
    --align-left-margin: 1.2rem;
    --font-size-base: 1rem; /* 16px */
    --font-size-lg: 1.56rem /* 20px */
}

@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: hsl(47, 88%, 63%);

    font-size: var(--font-size-base);
    font-family: 'Figtree', sans-serif;
}

.post-card { 
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    padding: 10px;

    background-color: white;

    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px;
}
 

.post-thumb {
    margin: 0 auto;
    padding: var(--ten-pixels);
}

.post-thumb > img {
    border-radius: 10px;
} 

.post-tag {
    margin: var(--ten-pixels) 0 var(--ten-pixels) var(--align-left-margin);
    padding: var(--ten-pixels);
    border-radius: 5px;

    font-weight: bold;
    background-color: hsl(47, 88%, 63%);
}
 
.post-date, .post-title, .post-info, .post-author {
    margin: var(--ten-pixels) 0 var(--ten-pixels) var(--align-left-margin);
} 

.post-title {
    font-size: var(--font-size-lg);
}

.post-author {
    display: flex;
    align-items: center;
}

.author-pfp {
    width: 25%;
    margin-right: var(--ten-pixels)
}
 
 

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%);
 }
